@media(max-width: 890px){
    .container{
        width: 350px;
        margin: auto;
    }

    .informacoes img{
        width: 325px;
    }

    .informacoes h1{
        font-size: 22px;
    }

    p{
        font-size: 14px;
    }

    .container h2{
        font-size: 18px;
    }

    ul, ol, table{
        font-size: 14px;
    }
}

@media(max-width:425px){
    body{
        background-color: #fff;
    }

    .container{
        width: 96vw;
        padding: 0;
        border-radius: 0;
    }

    .informacoes img{
        width: 96vw;
        border-radius: 0;
    }

    .informacoes h1{
        padding: 20px 35px;
        font-size: 38px;
    }

    .informacoes p{
        padding: 0 35px;
    }

    .fundo-rosa{
        margin: auto;
    }

    .ingredientes, .instrucoes, .nutricao{
        padding: 0 35px;
    }

    .container h2{
        font-size: 26px;
    }

    .container h3{
        font-size: 22px;
    }

    p{
        font-size: 17px;
    }

    ul, ol, table{
        font-size: 17px;
    }

    .nutricao{
        margin-bottom: 30px;
    }
}